{{#each tracks}}

  {{#if this.preview_url}}
  <div class="list-of-songs">

    <h3 class="title-song">{{this.name}}</h3>
    <audio class="audio-song" id="preview" src="{{this.preview_url}}" controls></audio> 


    <input class="input-song" type="radio" name="song" value="{{this.preview_url}}">
    <br><a class="link-song" href="{{this.external_urls.spotify}}"> Check the full song</a>
  
  </div>

  {{/if}}

  {{/each}}
