{{#each tracks}}

  {{#if this.preview_url}}
  
  <h3>{{this.name}}</h3>
  <audio id="preview" src="{{this.preview_url}}" controls></audio> 
  <input type="radio" name="song" value="{{this.preview_url}}">

  {{/if}}

  {{/each}}
