<a href="/signup" id="nav_login" class="button-ternary flexed-item nav-end-item">
    <span class="btn-text">Sign up</span>
</a>
<a href="/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
    <span class="btn-text">Log out</span>
</a>