<div id="nav-container">

    <div class="title">
        <a id="title-app" href="/">Memosic</a>
    </div>

    <div class="auth">
        <div class="nav-items">
            <a href="/auth/signup" id="nav-signup" class="linked">
                <span class="btn-text">Sign up</span>
            </a>
        </div>

        {{#unless isLoggedIn}}
        <div class="nav-items">
            <a href="/auth/signin" id="nav-signin" class="linked">
                <span class="btn-text">Sign In</span>
            </a>
        </div>
        {{/unless}}

        {{#if isLoggedIn}} 
       
                <div class="nav-items">
                    <a class="linked" href="/auth/logout">Log Out</a>
                </div>

                <div class="nav-items">
                    <a class="linked" href="/memories/your-profile">Dashboard</a>
                </div>

                {{#if infoUser}}
                <p id="welcome-back" class="nav-items"> Welcome back, {{infoUser.username}} !</p>
                {{/if}}

                <div class="nav-items">
                    <a class="linked" href="/users/{{_id}}">| <i class="fa fa-user fa-1x"></i></a>
                </div>
                
                
        {{/if}}
    </div>
</div>