<a href="/auth/signup" id="nav-signup" class="button-ternary flexed-item nav-end-item">
    <span class="btn-text">Sign up</span>
</a>

 {{#unless isLoggedIn}}
<a href="/auth/signin" id="nav-signin" class="button-ternary flexed-item nav-end-item">
    <span class="btn-text">Sign In</span>
</a>
{{/unless}}

 {{#if isLoggedIn}}
      
      <a class="link" href="/auth/logout">Log Out</a>
      
{{/if}}