<a href="/auth/signup" id="nav-signin" class="button-ternary flexed-item nav-end-item">
    <span class="btn-text">Sign up</span>
</a>
<a href="/auth/signin" id="nav-signout" class="button-ternary flexed-item nav-end-item">
    <span class="btn-text">Sign In</span>
</a>