@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Pacifico&family=Quattrocento+Sans:wght@700&family=Quicksand&display=swap');

@import url("./nav.css");
@import url("./index.css");
@import url("./footer.css");
@import url("./dashboard.css");
@import url("./mod.message.css");
@import url("./sign-in-up.css");
@import url("./account.css");
@import url("./oneMemory.css");
@import url("./search.css");
@import url("./createdit.css");

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

