<h3 class="form-title">Add a new memory to your board</h3>
<h3 class="form-title">First step: Choose your song!</h3>

<form action="/memories/edit-song" method="get">
      <input type="text" name="search" required>
      <button>Search for a new song</button>
    </form>
 