<div id="wrapper">

<section id="section-one" class="container">
    
    <div class="item">
        <img id="bmth" src="./images/BMTH-amo.jpg" alt="First image">
     </div>

     <div class="item">  
        <h3 class="home-titles">Have you ever....?</h3>
        <h6 class="home-articles">The wave crashed and hit the sandcastle head-on. The sandcastle began to melt under the waves force and as the wave receded, half the sandcastle was gone. The next wave hit, not quite as strong, but still managed to cover the remains of the sandcastle and take more of it away. The third wave, a big one, crashed over the sandcastle completely covering and engulfing it.</h6>
    </div>

</section>

<section id="section-two" class="container">

 <div class="item">
        <img id="fka" src="./images/fkatwigs.jpg" alt="Second image">
  </div>     

   <div class="item">
        <h3 class="home-titles">What is Memosic</h3>
        <h6 class="home-articles">Pink ponies and purple giraffes roamed the field. Cotton candy grew from the ground as a chocolate river meandered off to the side. What looked like stones in the pasture were actually rock candy. Everything in her dream seemed to be perfect except for the fact that she had no mouth.</h6>
   </div>


</section>

<section id="section-three" class="container">
    <div class="item">
        <img id="logic" src="./images/logic.jpg" alt="Second image">
    </div>

    <div class="item">
        <h3 class="home-titles">Who we are</h3>
        <h6 class="home-articles">It seemed like it should have been so simple. There was nothing inherently difficult with getting the project done. It was simple and straightforward enough that even a child should have been able to complete it on time, but that wasn't the case. The deadline had arrived and the project remained unfinished.</h6>
    </div>
    
</section>

</div>