<div id="wrapper">

<section id="section-one" class="container">
    
    <div class="item">
        <img id="bmth" src="./images/BMTH-amo.jpg" alt="First image">
     </div>

     <div class="item">  
        <h3 class="home-titles">Have you ever....?</h3>
        <h6 class="home-articles">been in one place in one moment and wanted to immortalize it? With not just a picture, or a fancy caption, 
            but to truly encapsulate the atmosphere of this moment? 
             This is now possible with Memosic! </h6>
    </div>

</section>

<section id="section-two" class="container">

 <div class="item">
        <img id="fka" src="./images/fkatwigs.jpg" alt="Second image">
  </div>     

   <div class="item">
        <h3 class="home-titles">What is Memosic</h3>
        <h6 class="home-articles"> With our platform Memosic, we wanted to let you shine by your taste in music. Wedding song, breakup, graduation, chill day? Feeling like a rockstar on your way to the supermarket? Be yourself and link your memory, be it your favorite or a casual one, in this free platform.</h6>
   </div>


</section>

<section id="section-three" class="container">
    <div class="item">
        <img id="logic" src="./images/logic.jpg" alt="Second image">
    </div>

    <div class="item">
        <h3 class="home-titles">Who we are</h3>
        <h6 class="home-articles"> Jacqueline Jumanga & Marine Sanjuan, both students at Ironhack. This was deployed with a MEN stack, using handlebars and JavaScript for DOM Manipulation. Stay tuned for more features!</h6>
    </div>
    
</section>

</div>