<!DOCTYPE html>
<html>
  <head>
    <title>{{Memosic}}</title>
    <script src="https://kit.fontawesome.com/55a81215fb.js" crossorigin="anonymous"></script>
    <script type="module" src="/javascripts/dashboard.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  </head>
  <body>
    {{> nav}}
    {{> flashmessage }}
    {{{body}}}
    {{> footer}}
  </body>
</html>
